---
import Hero from "../components/Hero.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ido evergreen portfolio">
  <main class="">
    <Hero />

    <ProjectCard />
  </main>
</Layout>

<style></style>
