---
import Socials from "./Socials.astro";

let shortbio = ` 👋, I'm Evergreen , a frontend developer.`;

let longerdesc =
  "I am a Software Frontend Developer based in Lagos, Nigeria focused on building interactive experiences & creating emotions through design and technology 🦾"


---

<div class="intro-texts">
  <p class="lg:text-4xl text-2xl font-semibold text-white">
    {shortbio}
  </p>
  <p class="lg:text-sm text-white font-normal mt-10 mb-5">
    {longerdesc}
  </p>
</div>

<Socials />
