---
import Socials from "./Socials.astro";

let shortbio = ` 👋, I'm Evergreen , a Design Engineer.`;

let longerdesc =
  "I am a Software Developer who loves design and code, currently based in Lagos, Nigeria focused on building interactive experiences & creating emotions through design and technology 🦾 . I often spend time teaching other developers how to improve design and code. "


---

<div class="intro-texts">
  <p class="lg:text-4xl text-2xl font-semibold text-white">
    {shortbio}
  </p>
  <p class="lg:text-sm text-white font-normal mt-10 mb-5">
    {longerdesc}
  </p>
</div>

<Socials />
