---
import Button from "./Button.astro";
import { Icon } from "astro-icon";

let shortbio = `I am a software engineer with a passion for building great products.`;

let longerdesc = "lorem ipsum ";
let buttonText = "Contact Me";

---


  <p class="text-4xl font-bold text-white">
    {shortbio}
  </p>
  <p class="text-base text-white font-normal mt-10">
    {longerdesc}
    
  </p>

  <div class="bottom__area bg-red-900">
    <Button buttonText={buttonText} />
    <Icon pack="mdi" name="account" class="text-xl" />
  </div>


<style lang="css">
  [astro-icon] {
    color: blue;
    /* OR */
    fill: blue;
    width: 20px;
  }
</style>
