---
import Socials from "./Socials.astro";

let shortbio = ` 👋, I'm Evergreen , a Senior Frontend Developer.`;

let longerdesc = 
  "I am a Frontend Developer passionate about design and code, currently based in Lagos, Nigeria. I focus on building interactive and engaging web experiences that combine creativity with technology 🦾. I love crafting smooth, user-friendly interfaces that make a lasting impact.";

---

<div class="intro-texts">
  <p class="lg:text-4xl text-2xl font-semibold text-white">
    {shortbio}
  </p>
  <p class="lg:text-sm text-white font-normal mt-10 mb-5">
    {longerdesc}
  </p>
</div>

<Socials />
