---
import Socials from "./Socials.astro";

let shortbio = `Holla, I'm Evergreen , a frontend developer with 4 years of experience.`;

let longerdesc =
  "I am a Frontend Developer based in Lagos, Nigeria focused on branding, building interactive experiences & creating emotions through design and technology. ";
---

<div class="intro-texts">
  <p class="lg:text-4xl text-2xl font-semibold text-white">
    {shortbio}
  </p>
  <p class="lg:text-base text-white font-normal mt-10 mb-5">
    {longerdesc}
  </p>
</div>

<Socials />
