---
import Socials from "./Socials.astro";

let shortbio = ` 👋, I'm Evergreen , a Senior Frontend Developer.`;

let longerdesc =
  "I am a Frontend Developer passionate about building interactive and user-centered web experiences. I lead teams in delivering high-quality, scalable solutions with a strong focus on collaboration and mentoring. I enjoy guiding teams to improve development processes, ensuring smooth execution from concept to deployment. 🦾";
---

<div class="intro-texts">
  <p class="lg:text-4xl text-2xl font-semibold text-white">
    {shortbio}
  </p>
  <p class="lg:text-sm text-white font-normal mt-10 mb-5">
    {longerdesc}
  </p>
</div>

<Socials />
