---
import Socials from "./Socials.astro";

let shortbio = `Holla, I'm Evergreen , a software developer.`;

let longerdesc =
  "I am a Software Frontend Developer based in Lagos, Nigeria focused on branding, building interactive experiences & creating emotions through design and technology.As a frontend developer and open sourcerer, i am committed to delivering high-quality work, always keeping an eye on the latest technologies and trends in my field.With a proven track record of delivering innovative digital solutions that resonate with audiences, I am a valuable asset to any team looking to drive growth, engagement, and customer satisfaction. ";
---

<div class="intro-texts">
  <p class="lg:text-4xl text-2xl font-semibold text-white">
    {shortbio}
  </p>
  <p class="lg:text-sm text-white font-normal mt-10 mb-5">
    {longerdesc}
  </p>
</div>

<Socials />
