---
let { buttonText } = Astro.props;
---

<a
  href={`mailto:dicksonevergreenido@gmail.com`}
  aria-label="Email Me"
  class="rounded-full block px-20 py-3 lg:px-14 w-full lg:py-3 bg-white text-sm font-bold shadow-[0_9px_0_rgb(0,0,0)] hover:shadow-[0_4px_0px_rgb(0,0,0)]"
>
  {buttonText}
</a>
