---
let { buttonText } = Astro.props;
---

<a
  href={`mailto:dicksonevergreenido@gmail.com`}
  class="rounded-full block px-20 py-3 lg:px-5 w-full lg:py-2 bg-white text-sm font-bold"
>
  {buttonText}
</a>



