---
import About from "./About.astro";
import Socials from "./Socials.astro";

const email = "dicksonevergreenido@gmail.com";
---

<footer
  class="bg-[#1D1D1D] footer h-full flex flex-col justify-between rounded-2xl col-span-2 min-h-[350px] p-[40px] mt-5"
>
  <div class="content text-white mb-10">
    <h1 class="text-4xl">reach out to me?</h1>
    <p class="text-base mt-5 font-medium">
      Feel free to contact me via email or social media.
      <!-- I'm always open to new
      opportunities and collaborations. -->
    </p>

    <p class="text-base font-medium">
      <a href="mailto:{{email}}"> dicksonevergreenido@gmail.com</a>
    </p>
  </div>

  <Socials />
</footer>
