---
import About from "./About.astro";
---

<div class="about-me">
  <div class="lg:grid-cols-3 grid-cols-1 grid lg:gap-8">
    <div class="bg-black rounded-2xl col-span-2 h-[500px] p-[40px]">
      <About />
    </div>
    <div class="bg-blue-200 rounded-2xl h-[500px]"></div>
  </div>
</div>
