---
import About from "./About.astro";
---

<div class="about-me mb-5">
  <div class="lg:grid-cols-3 grid-cols-1 grid lg:gap-5">
    <div class="bg-black rounded-2xl col-span-2 h-[500px] p-[40px] ">
      <div class="flex justify-between flex-col h-full">
        <About />
      </div>
    </div>
    <div class="bg-black bg-no-repeat    bg-center bg-cover rounded-2xl h-[500px] bg-[url('https://res.cloudinary.com/evergreenx/image/upload/v1678322727/Group_1_2_igcstz.png')]">

    </div>
  </div>
</div>
