---
import { links } from "./data";
---

<ul class="flex justify-between py-2 navbar" >
  <li>logo</li>

  <div class="links flex space-x-9">
    {
      links.map((link) => {
        return (
          <li class="text-neutral-400 text-sm font-semibold transition ease-in delay-700 ">
            <a
              class="hover:text-black hover:font-bold hover:scale-110 "
              href={link.href}
            >
              {link.name}
            </a>
          </li>
        );
      })
    }
  </div>
</ul>
