---
import Button from "./Button.astro";

let buttonText = "Contact me";
---

<div class="bottom__area flex lg:flex-row flex-col lg:space-x-6 lg:items-center lg:mx-0 mx-auto">
  <div class="lg:mb-0 mb-5">
    <Button buttonText={buttonText} />
  </div>
  <!-- <Icon pack="mdi" name="account" class="text-xl" /> -->

  <div class="socials flex space-x-10 mx-auto justify-center items-center">
    <div class="gh">
      <a href="https://www.github.com/evergreenx">
        <i class="fa text-white fa-github"></i>
      </a>
    </div>

    <div class="">
      <a href="https://www.linkedin.com/in/ido-dickson-evergreen/">
        <i class="fa text-white fa-linkedin"> </i>
      </a>
    </div>
  </div>
</div>
