---
import Button from "./Button.astro";

let buttonText = "Contact Me";
---

<div class="bottom__area flex space-x-6 items-center">
  <div class="">
    <Button buttonText={buttonText} />
  </div>
  <!-- <Icon pack="mdi" name="account" class="text-xl" /> -->

  <div class="socials flex space-x-10">
    <div class="gh">
      <a href="https://www.github.com/evergreenx">
        <i class="fa text-white fa-github"></i>
      </a>
    </div>

    <div class="">
      <a href="https://www.linkedin.com/in/ido-dickson-evergreen/">
        <i class="fa text-white fa-linkedin"> </i>
      </a>
    </div>
  </div>
</div>
