---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import "@fontsource/roboto";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<style>
  body {
    font-family: "Roboto", sans-serif;
  }
</style>

<html class="sr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="title" content="Ido evergreen portofolio" />
    <meta
      name="description"
      content="Ido Evergreen is a Frontend Developer based in Lagos, Nigeria focused on building interactive experiences through technology."
    />
    <meta
      name="keywords"
      content="javascript, evergreen, frontend, react, react native, ido evergreen, portfolio, node js, expo, frontend engineer in Lagos,  frontend developer in Nigeria "
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="1 days" />
    <meta name="author" content="ido evergreen" />
    <meta name="google-adsense-account" content="ca-pub-1639567346860615" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>{title}</title>

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-F6SVKX5P6G"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-F6SVKX5P6G");
    </script>
    <script is:inline src="https://unpkg.com/scrollreveal@4"></script>
    <script>
      ScrollReveal().reveal(".heroimage", {
        delay: 800,
        duration: 500,
        easing: "ease-in",
        origin: "right",
      });

      ScrollReveal().reveal(".navbar", {
        delay: 100,

        duration: 400,
        easing: "ease-in-out",
      });

      ScrollReveal().reveal(".headline", {
        delay: 900,
        distance: "30px",
        easing: "ease-in",
        reset: false,
      });
      ScrollReveal().reveal(".projects", { delay: 1000, easing: "ease-in" });
      ScrollReveal().reveal(".footer", { delay: 1100 });
    </script>
  </head>
  <body class="max-w-5xl bg-white lg:p-1 p-5 mx-auto">
    <NavBar />

    <slot />

    <Footer />

    <script
      src="https://kit.fontawesome.com/5daa8eb347.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
<style is:global>
  html.sr .load-hidden {
    visibility: hidden;
  }
</style>
